@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light: #ffffff;
  --dark: #1a1a1a;
  --background: #282828;
}

body {
  color: var(--light);
  background: var(--dark);
}

/* scrollbar style */
.scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}
.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #f3f4f6;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: #6b7280;
  border-radius: 100vh;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #7b818e;
}

/* loading styles */
.loader {
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #1a1a1a;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  border-left: 4px solid #16c829;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

textarea {
  margin: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: transparent;
  height: 38px;
  border: 1px solid #000;
  resize: none;
}

.swiper {
  width: 100%;
  height: 390px;
}
.swiper-slide {
  width: 100%;
  max-width: 1216px;
}

@media only screen and (max-width: 640px) {
  .swiper {
    height: 240px;
  }
}
@media only screen and (min-width: 640px) {
  .swiper {
    height: 320px;
  }
}
@media only screen and (min-width: 768px) {
  .swiper {
    height: 390px;
  }
}

@layer components {
  .btn-light {
    @apply px-4 sm:px-6 py-2 sm:py-2.5 bg-light text-sm sm:text-base text-dark font-medium hover:bg-light/80 duration-300;
  }
  .btn-cross-modal {
    @apply absolute duration-300 right-4 top-4 flex justify-center items-center rounded-full border-light border-2 size-8 hover:bg-light;
  }
  .popover {
    @apply absolute space-y-2 border border-light/10 rounded-lg shadow-lg bg-dark text-light z-100;
  }
  .card-diamond {
    @apply relative cursor-pointer flex items-center justify-between w-full p-2 px-4 border rounded-lg sm:gap-4 md:px-2 xl:px-6 md:py-4 text-light border-light/50;
  }
  .ribbon-text {
    @apply absolute bottom-0 right-0 block font-semibold tracking-wider text-center uppercase origin-bottom-right rotate-45 shadow-sm text-xxs bg-light text-dark;
  }
  /* .dropdown {
    @apply relative flex items-center gap-2 p-2 text-sm text-gray bg-light font-semibold rounded-lg cursor-pointer sm:px-4 sm:gap-8 border;
  } */
}
